# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env*/
.venv/
.venv*/
env/
env*/
.conda/
.python-version

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg

# Test & coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
pytest_cache/

# IDEs & editors
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
